{% extends "base.html"%} {% block title %} VLUTE | CONFIRM EMAIL {% endblock title %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-md-offset-3">
    <div class="form-group text-center">
        <h3>Xác thực email</h3>
    </div>
    <div class="form-group text-center">Xin vui lòng kiểm tra email và nhập mã xác thực.</div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color: chocolate; color: white">
                    <th style="text-align: center;">Thông tin</th>
                    <th style="text-align: center;">Chi tiết</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Thiết bị</strong></td>
                    <td style="text-align: center;"><strong>{{client | upper }}</strong></td>
                </tr>
                <tr>
                    <td><strong>AccessPoint</strong></td>
                    <td style="text-align: center;"><strong>{{ap | upper }}</strong></td>
                </tr>
                <tr>
                    <td><input type="text" id="code" class="form-control" placeholder="Nhập mã xác thực"></td>
                    <td style="text-align: center;">
                        <button type="button" id="btn-confirm" class="btn  btn-success">Xác thực</button>
                        <button type="button" id="btn-resend" class="btn  btn-danger">Gửi lại mã</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="alert"></div>
</div>
{% endblock content %} {% block script %}
<script>
    $(document).ready(function() {
        $('#btn-confirm').click(function() {
            $('#alert').hide()
            $('#btn-confirm').prop('disabled', true)
            $('#btn-resend').prop('disabled', true)
            $('#btn-confirm').text('Đang xử lý, vui lòng chờ!!!')
            let code = $('#code').val()
            if (code != '') {
                $.ajax({
                    url: '/api/email_verify_code',
                    dataType: 'json',
                    data: {
                        'code': code,
                        'client': '{{client}}'
                    },
                    success: function(data) {
                        if (data.status == 'OK') {
                            $('#btn-confirm').text('Xác thực')
                            $('#btn-confirm').prop('disabled', false)
                            $('#btn-resend').prop('disabled', false)
                            $('#alert').attr('class', 'alert alert-success')
                            $('#alert').html('<strong>Thông báo:</strong> ' + data.msg).fadeIn(300)
                            window.location.href = "http://vlute.edu.vn";
                        } else {
                            $('#btn-confirm').text('Xác thực')
                            $('#btn-confirm').prop('disabled', false)
                            $('#btn-resend').prop('disabled', false)
                            $('#alert').attr('class', 'alert alert-danger')
                            $('#alert').html('<strong>Thông báo:</strong> ' + data.msg).fadeIn(300)
                        }
                    }
                })
            } else {
                $('#btn-confirm').text('Xác thực')
                $('#btn-confirm').prop('disabled', false)
                $('#btn-resend').prop('disabled', false)
                $('#alert').attr('class', 'alert alert-danger')
                $('#alert').html('<strong>Thông báo:</strong> Mã xác thực không được để trống!').fadeIn(300)
            }


        })
        $('#btn-resend').click(function() {
            $('#alert').hide()
            $('#btn-confirm').prop('disabled', true)
            $('#btn-resend').prop('disabled', true)
            $('#btn-resend').text('Đang xử lý, vui lòng chờ!!!')
            let email = $('#email').val()
            $.ajax({
                url: '/api/request_send_code',
                dataType: 'json',
                data: {
                    'client': '{{client}}'
                },
                success: function(data) {
                    if (data.status == 'OK') {
                        $('#btn-resend').text('Gửi lại mã')
                        $('#btn-resend').prop('disabled', false)
                        $('#btn-confirm').prop('disabled', false)
                        $('#alert').attr('class', 'alert alert-success')
                        $('#alert').html('<strong>Thông báo:</strong> ' + data.msg).fadeIn

                            (300)
                    } else {
                        $('#btn-resend').text('Gửi lại mã')
                        $('#btn-resend').prop('disabled', false)
                        $('#btn-confirm').prop('disabled', false)
                        $('#alert').attr('class', 'alert alert-danger')
                        $('#alert').html('<strong>Thông báo:</strong> ' + data.msg).fadeIn(300)

                    }
                }
            })
        })
    })
</script>

{% endblock script %}