{% extends "base.html" %}
{% block title %} VLUTE | LIST {% endblock title %}
{% block content %}
    <div class="form-group">
        <h3><strong><center>Danh sách thiết bị đăng ký</center></strong></h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="table">
            <thead>
                <tr style="background-color: chocolate; color:white; text-align:center;">
                    <th style="text-align: center;">MAC thiết bị</th>
                    <th style="text-align: center;">Email đăng ký</th>
                    <th style="text-align: center;">Họ và tên</th>
                    <th style="text-align: center;">Thiết bị</th>
                    <th style="text-align: center;">Upload</th>
                    <th style="text-align: center;">Download</th>
                    <th style="text-align: center;">Sử dụng</th>
                    <th style="text-align: center;">Trạng thái</th>
                    <th style="text-align: center;">Quản lý</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td style="text-align: center;"><a style="text-decoration: none;" href="/guest/list/{{client.id}}"><button><strong>{{client.device_mac_address | upper}}</strong></button></a></td>
                    <td style="text-align: center;">{{client.email}}</td>
                    <td style="text-align: center;">{{client.name}}</td>
                    <td style="text-align: center;">{{client.device_model}}</td>
                    <td style="text-align: center;">{{client.bw_upload}} Kbps</td>
                    <td style="text-align: center;">{{client.bw_download}} Kbps</td>
                    <td style="text-align: center;">{{client.time_used}} Phút</td>
                    <td style="text-align: center;">{{client.status}}</td>
                    <td style="text-align: center;"><button type="button" id="{{client.device_mac_address}}" class="btn btn-danger btn">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('#table').DataTable({
                responsive: true
            })
            $('.btn').click(function(e){
                let client = e.target.id
                let kick_out_confirm = confirm('Xác nhận xóa thiết bị này')
                if (kick_out_confirm == true){
                    $.ajax({
                        url: '/api/request_delete_client',
                        dataType: 'json',
                        data: {
                            'client' : client
                        },
                        success: function(data){
                            if (data.status == 'OK'){
                                alert(data.msg)
                                location.reload();
                            }
                            else {
                                alert(data.msg)
                            }
                        }
                    })
                }
            })
        })
    </script>
{% endblock script %}